

body{   
        background-image: url(./assents/background05.webp) ;
        background-size: cover;
       
        font-family: 'Oswald', sans-serif;
        
}


.Titulo {
    background-color: rgb(59, 65, 173);
    font-size: 50px;
    display: flex;
    text-align: center;
    padding-left: 750px;
    padding-bottom: 50px;
    height: 200px;
    color: rgb(24, 22, 22);


}

.Titulo img{
     

    width: 250px ;
    height: 250px ;
    padding-top: 20px;
    border-radius: 50%;


}

ul{

    list-style-type: none;
    
}

ul li:hover {
  
    transform: scale(1.1)

}


a{

    text-decoration: solid;
    color: rgb(41, 36, 36);

}



.abas{

    width: 1900px;
    height: 600px;

}

.Bilhetes{

    background-color:rgb(110, 116, 214) ;
    font-size: 50px;
    width: 300px;
    height: 130px;
    padding:5px;
    border: 1px solid blue;
    text-align: center;
    position:relative;
    left:450px;
    top:55px;
    border-radius: 50px;



}

.Recarga{

    background-color: rgb(110, 116, 214);
    font-size: 50px;
    width: 300px;
    height: 130px;
    padding:5px;
    border: 1px solid blue;
    text-align: center;
    position:relative;
    left: 1050px;
    bottom:110px;
    border-radius: 50px;


}

.Gerar_Bilhete{

    background-color: rgb(110, 116, 214);
    font-size: 50px;
    width: 300px;
    height: 130px;
    padding:5px;
    border: 1px solid blue;
    text-align: center;
    position:relative;
    left: 450px; 
    border-radius: 50px;   


}

.Historico{

    background-color: rgb(110, 116, 214);
    font-size: 50px;
    width: 300px;
    height: 130px;
    padding:5px;
    border: 1px solid blue;
    text-align: center;
    position:relative;
    left: 1050px;
    bottom: 170px; 
    border-radius: 50px; 
    color: rgb(41, 36, 36);

}

.dados{
    color: grey;  
}

