

body{   
         background-color: #5344ab;
        background-size:cover;
        font-family: 'Oswald', sans-serif;
         
        
}


.Titulo {
    background-color: rgb(43, 49, 156);
    font-size: 45px;
    display:flex;
    text-align: center;
    padding-left: 730px;
    padding-bottom: 50px;
    height: 130px;
    color: rgb(187, 187, 187);


}

.Titulo img{
     

    width: 250px ;
    height: 250px ;
    border-radius: 50%;


}

ul{

    list-style-type: none;
    
}

ul li:hover {
  
    transform: scale(1.1)

}


a{

    text-decoration: solid;
    color: rgb(187, 187, 187);

}



.abas{

    width: 1900px;
    height: 600px;
    color: rgb(187, 187, 187);    

}

.Gerar_Bilhete{

    background-color: rgb(110, 116, 214);
    font-size: 50px;
    width: 300px;
    height: 130px;
    padding:5px;
    border: 1px solid blue;
    text-align: center;
    position:relative;
    left:450px;
    top:55px;
    border-radius: 50px;
    
   
}

.Recarga{

    background-color: rgb(110, 116, 214);
    font-size: 50px;
    width: 300px;
    height: 130px;
    padding:5px;
    border: 1px solid blue;
    text-align: center;
    position:relative;
    left: 1050px;
    bottom:110px;
    border-radius: 50px;
    

}

.Bilhetes{

    background-color: rgb(110, 116, 214);
    font-size: 50px;
    width: 300px;
    height: 130px;
    padding:5px;
    border: 1px solid blue;
    text-align: center;
    position:relative;
    left: 450px; 
    border-radius: 50px;
      

}

.Historico{

    background-color: rgb(110, 116, 214);
    font-size: 50px;
    width: 300px;
    height: 130px;
    padding:5px;
    border: 1px solid blue;
    text-align: center;
    position:relative;
    left: 1050px;
    bottom: 170px; 
    border-radius: 50px;   
    color: rgb(187, 187, 187);
    

}

.dados{
    color: grey;  
}

